@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
}




@font-face {
    font-family: "Roboto";
    src: 
    url(/assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




.card__image {
    @apply object-cover desktop:order-1;
}
.card__content {
    @apply px-6 py-4 flex flex-col justify-center gap-4 text-base md:gap-4 text-blue-800 desktop:ps-10 desktop:pe-16 desktop:gap-5 desktop:-order-1;
}
.card__content > h1 {
    @apply text-[2.5rem] font-bold desktop:text-[3.5rem] desktop:leading-none;
}
.content__infos-updates {
    @apply flex gap-2 flex-col mt-[0.8125rem];
}
.content__infos-updates > li{
    @apply flex gap-4 items-start
}

.content__form {
    @apply flex flex-col mt-[1.375rem] gap-[0.625rem];
}
button {
    @apply px-10 py-4 bg-blue-800 text-white rounded-lg font-bold hover:bg-gradient-to-r hover:from-[#FF537B] hover:to-[#FF6742];
}
.form__label {
    @apply text-xs font-bold flex justify-between;
}

.form__error-msg {
    @apply text-red;
}

.row-1{
    @apply flex flex-col justify-center gap-8 flex-1 md:flex-none;
}
.row-1 > img {
    @apply size-16;
}
.row-1 > h1 {
    @apply text-[2.5rem] font-bold leading-none md:text-[3.5rem];
}
.mobile-success > button {
    @apply w-full;
}

@layer components {
    .content__form .form__input {
        @apply py-4 px-6 text-base border border-grey text-grey mb-4 rounded-lg focus:border-blue-800 focus:outline-none focus:text-blue-800;
    }
    .card {
        @apply max-w-[23.4375rem] min-h-screen w-full grid grid-cols-1 bg-white md:rounded-xl md:min-h-[auto] md:max-w-[25rem] desktop:max-w-[57.9375rem] desktop:grid-cols-[auto_22.8125rem] desktop:p-6 desktop:rounded-[2rem] shadow-xl;
    }
    .content__form .form__input.input-error {
        @apply border-red text-red bg-[#FFE8E6];
    }
    .mobile-success {
        @apply bg-white px-6 min-h-screen flex flex-col py-12 md:px-12 text-blue-800 md:py-6 md:max-w-[30rem] md:min-h-[30rem] md:rounded-3xl md:gap-8 justify-center shadow-xl;
    }
}
